<html>
    <head>
         
        <script type="text/javascript" src="bootstrap-3.3.7-dist/js/jquery-3.1.1.min.js"></script>
        <link rel=stylesheet href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        
    </head>

    <body>
    
        
        <div id="body" style="width:1300px;margin:auto;box-shadow:1px 1px 5px gray;">
        
        
        <div id="header" style="height:100px;background-color:lightblue;margin:0;">

    <div style="padding:10px;float:left">
<h3>Expense Tracker</h3>
    </div>

<div id="logIn" style="float:right;padding:10px">
    
    <span class="glyphicon glyphicon-user">
        <a href="#" style="margin-right:20px;font-size:20px"> User </a></span>
    
    <span class="glyphicon glyphicon-log-out" >
        <a href="#" style="margin-right:20px;font-size:20px"> LogOut</a> </span>
    
    
    </div>    
    

</div>
        
            
        <div id="container" style="width:800px;margin:auto;">    
        
            
            <div id="members" style="box-shadow:1px 1px 5px gray;margin-top:20px;padding:10px">
        <h3> Your Group Members: </h3>
        
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Sr. #</th>
                    <th> Member Name</th>
                    <th> Action</th>
                
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>1</td>
                    <td> ABC 1</td>
                    <td><button type="button" class="btn btn-danger">Remove</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> ABC 2</td>
                    <td><button type="button" class="btn btn-danger">Remove</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td> ABC 3</td>
                    <td><button type="button" class="btn btn-danger">Remove</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td> ABC 4</td>
                    <td><button type="button" class="btn btn-danger">Remove</button></td>
                </tr>
            
            
            </tbody>
        </table>
        
        </div>
            
            <div id="nonmember" style="margin-top:20px;box-shadow:1px 1px 5px gray;padding:10px">
        
        <h3> Add New Members :</h3>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Sr. #</th>
                    <th> Member Name</th>
                    <th> Action</th>
                
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>1</td>
                    <td> ABC 1</td>
                    <td><button type="button" class="btn btn-success">Add</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> ABC 2</td>
                    <td><button type="button" class="btn btn-success">Add</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td> ABC 3</td>
                    <td><button type="button" class="btn btn-success">Add</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td> ABC 4</td>
                    <td><button type="button" class="btn btn-success">Add</button></td>
                </tr>
            
            
            </tbody>
        </table>
            </div>
            </div>
            
            
        </div>
    </body>
</html>